# UI Framework
streamlit

# PDF Processing
pymupdf
pillow

# AI & RAG Orchestration
langchain
langchain-community
langchain-ollama
langchain-text-splitters
chromadb

# Database
pymongo

# LLM Interface
ollama